body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: #111 !important;
}

.hero {
  height: 100vh;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Dark overlay effect */
  position: relative;
  display: flex;
  align-items: center;
}

.highlight {
  color: yellow;
}

.section {
  padding: 80px 0;
}

.profile-img {
  width: 250px;
  border-radius: 50%;
  border: 5px solid #007bff;
}

.project-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.contact-section {
  background: #111;
}

.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .section {
  background: #121212 !important;
}

.dark-mode .card {
  background: #1f1f1f;
  color: white;
}

.dark-mode .navbar {
  background: black !important;
}

#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: orange;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  display: none;
  font-size: 18px;
  cursor: pointer;
}

.nav-link.active {
  color: yellow !important;
  font-weight: bold;
}
